.landingpage {
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingpage h2 {
    text-align: center;
    color: blue;
    text-decoration: underline;
}

.landingpagecontainer {
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

.landingpagecontainer ul {
    list-style-type:square;
    margin-top: 20vh;
}

